<phpunit 
  bootstrap="bootstrap.php"
  stopOnFailure="true">
  <testsuites>
    <testsuite name="TacoWordpress">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src/</directory>
      <exclude>
        <file>../src/Autoloader.php</file>
        <file>../src/Loader.php</file>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="coverage_report" />
  </logging>
</phpunit>