<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="TacoWordpress">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src/</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="coverage_report" />
  </logging>
</phpunit>